################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Standard.TransactionSimulator.Applicator/obj
/.vs/Standard.TransactionSimulator/v16
/Standard.TransactionSimulator.Domain/obj
/Standard.TransactionSimulator.Infrastructure/obj
/Standard.TransactionSimulator.WebApi/obj
/Standard.TransactionSimulator.Applicator/bin/Debug/netstandard2.0
/.vs/Standard.TransactionSimulator
/Standard.TransactionSimulator.WebApi/bin/Debug/netcoreapp3.1
/obj/Docker
/bin/Debug
/obj/Debug
