################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Standard.TransactionSimulator.Applicator/obj
/.vs/Standard.TransactionSimulator/v16
/Standard.TransactionSimulator.Domain/obj
/Standard.TransactionSimulator.Infrastructure/obj
/Standard.TransactionSimulator.WebApi/obj
